<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3D23CAC1BB99F1D00A13396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3D23CC01BB99F1D00A13396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3D23CCB1BB99F1D00A13396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
